---
import SystemCard from "./SystemCard.astro";
import Cpu from "@assets/icons/cpu.svg";
import Server from "@assets/icons/server.svg";
import Cloud from "@assets/icons/cloud.svg";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
const t = useTranslations(getLangFromUrl(Astro.url));
---

<section>
	<h2 class="text-2xl text-black dark:text-white font-pixel-square mb-5">
		<strong class="bg-black text-white dark:bg-white dark:text-black pl-1 pr-1"
			>></strong
		>
		{t("system_capabilities")}
	</h2>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
		<SystemCard
			title="FRONTEND CORE"
			items={["React", "Tailwind", "TypeScript", "Astro"]}
		>
			<Cpu class="w-16 h-16" slot="icon" />
		</SystemCard>
		<SystemCard
			title="BACKEND ARCH"
			items={["Node.js", "Express", "Python", "PostgreSQL", "MongoDB"]}
		>
			<Server class="w-16 h-16" slot="icon" />
		</SystemCard>
		<SystemCard title="DEVOPS & CLOUD" items={["Docker", "CI/CD"]}>
			<Cloud class="w-16 h-16" slot="icon" />
		</SystemCard>
	</div>
</section>
