---
import SystemCard from "./SystemCard.astro";
import Cpu from "@assets/icons/Capabilities/cpu.svg";
import Server from "@assets/icons/Capabilities/server.svg";
import Cloud from "@assets/icons/Capabilities/cloud.svg";
import React from "@assets/icons/Capabilities/react.svg";
import Tailwind from "@assets/icons/Capabilities/tailwind.svg";
import TypeScript from "@assets/icons/Capabilities/typescript.svg";
import AstroIcon from "@assets/icons/Capabilities/astroicon.svg";
import Nodejs from "@assets/icons/Capabilities/nodejs.svg";
import Express from "@assets/icons/Capabilities/express.svg";
import Python from "@assets/icons/Capabilities/python.svg";
import PostgreSQL from "@assets/icons/Capabilities/postgresql.svg";
import MongoDB from "@assets/icons/Capabilities/mongodb.svg";
import Docker from "@assets/icons/Capabilities/docker.svg";
import Cicd from "@assets/icons/Capabilities/cicd.svg";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
const t = useTranslations(getLangFromUrl(Astro.url));
---

<section class="mb-10">
	<h2 class="text-2xl text-black dark:text-white font-pixel-square mb-5">
		<strong class="bg-black text-white dark:bg-white dark:text-black pl-1 pr-1"
			>></strong
		>
		{t("system_capabilities")}
	</h2>
	<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5">
		<SystemCard
			title="FRONTEND CORE"
			items={[
				{ label: "React", icon: React },
				{ label: "Tailwind", icon: Tailwind },
				{ label: "TypeScript", icon: TypeScript },
				{ label: "Astro", icon: AstroIcon },
			]}
		>
			<Cpu class="w-16 h-16" slot="icon" />
		</SystemCard>
		<SystemCard
			title="BACKEND ARCH"
			items={[
				{ label: "Node.js", icon: Nodejs },
				{ label: "Express", icon: Express },
				{ label: "Python", icon: Python },
				{ label: "PostgreSQL", icon: PostgreSQL },
				{ label: "MongoDB", icon: MongoDB },
			]}
		>
			<Server class="w-16 h-16" slot="icon" />
		</SystemCard>
		<SystemCard
			title="DEVOPS & CLOUD"
			items={[
				{ label: "Docker", icon: Docker },
				{ label: "CI/CD", icon: Cicd },
			]}
		>
			<Cloud class="w-16 h-16" slot="icon" />
		</SystemCard>
	</div>
</section>
