---
import LsProjectCard from "../home/Ls_Projects/LsProjectCard.astro";
---

<div class="flex flex-col gap-6 mb-6">
	<LsProjectCard />
	<LsProjectCard />
	<LsProjectCard />
	<LsProjectCard />
</div>
