---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
const t = useTranslations(getLangFromUrl(Astro.url));
---

<div class="border-b border-gray-500 pb-3 mb-6">
	<h1 class="text-6xl font-pixel-line">
		{t("seo.projects.title").toUpperCase()}
	</h1>
	<p>
		{t("projects.description")}
	</p>
</div>
