---
import PaginaBase from "../layouts/paginabase.astro";
---

<PaginaBase seo={{ titulo: "Home" }} transition:name="titulo">
	<h1 transition:name="titulo">Seyronh Portfolio</h1>
	<a href="/test2" transition:name="enlace">Go to Test</a>
</PaginaBase>
