---
import PaginaBase from "../layouts/paginabase.astro";
---

<PaginaBase seo={{ titulo: "test" }}>
	<h1 transition:name="titulo">Test</h1>
	<a href="/" transition:name="enlace">Go to Home</a>
</PaginaBase>
