---
import { Image } from "astro:assets";
import { personalInfo } from "@data/personalInfo";
import Avatar from "@assets/avatar.webp";
import Arrow from "@assets/arrow.svg";
---

<section id="inicio" title="Hero" class="hero">
	<Image
		src={Avatar}
		alt="Avatar de Sergio Bueno Gómez"
		class="hero-avatar"
		widths={[100, 200, 300]}
		sizes="(max-width: 768px) 100px, (max-width: 1024px) 200px, 300px"
		loading="eager"
	/>
	<h1 transition:name="name">{personalInfo.name}</h1>
	<h2 transition:name="title">{personalInfo.title}</h2>
	<h4 transition:name="tagline">{personalInfo.tagline}</h4>
	<p>Quieres conocer más sobre mi?</p>
	<Arrow />
</section>

<style>
	.hero-avatar {
		width: 100%;
		max-width: 100px;
		height: auto;
		border-radius: 50%;
		object-fit: cover;
		filter: sepia(0.6) contrast(1.2) saturate(0.8) brightness(1.02);
	}

	/* Tablets */
	@media (min-width: 768px) {
		.hero-avatar {
			max-width: 200px;
		}
	}

	/* Escritorio */
	@media (min-width: 1024px) {
		.hero-avatar {
			max-width: 300px;
		}
	}
</style>
