---
import Arrow from "@assets/arrow.svg";
---

<section id="skills" title="skills">
	<Arrow style="transform: rotate(180deg);" />
	<h2>Habilidades</h2>
	<p>Algunas tecnologías en las que tengo experiencia incluyen:</p>
	<ul>
		<li>Node.js</li>
		<li>Express</li>
		<li>React</li>
		<li>Astro</li>
	</ul>
	<p>
		Aunque tengo experiencia en tecnologías concretas, considero que la
		adaptabilidad es una de mis habilidades mas importantes
	</p>
	<Arrow />
</section>
