---
import Arrow from "@assets/arrow.svg";
---

<section id="about" title="about" class="about">
	<Arrow style="transform: rotate(180deg);" />
	<h2>Sobre mí</h2>
	<p>
		Mi pasión por la tecnología comenzó desde pequeño jugando videojuegos, y desde
		entonces he estado aprendiendo de forma autodidacta hasta llegar a la
		universidad, donde pude estudiar lo que me gustaba. Me especializo en el
		ecosistema JavaScript/TypeScript, con experiencia tanto en frontend (React,
		Electron, Astro) como en backend (Node.js, Express, bases de datos).
	</p>
	<p>
		Me encanta trabajar en proyectos que resuelven problemas reales y mejoran la
		vida de las personas. Busco escribir código limpio y mantenible. Además del
		desarrollo, disfruto aprendiendo sobre nuevas tecnologías sobre arquitecturas
		descentralizadas p2p (sin blockchain ni criptomonedas), que puedan mejorar la
		privacidad de las personas y seguir funcionando incluso en situaciones donde
		no haya acceso viable a internet.
	</p>
	<p>
		Cuando no estoy programando, me gusta jugar videojuegos, leer sobre nuevas
		tecnologías, o buscar proyectos de código abierto que puedan sustituir a
		tecnologías propietarias.
	</p>
	<Arrow />
</section>
<style>
	.about {
		margin: 0 auto;
		padding: 0 2rem;
	}
	@media (min-width: 768px) {
		.about {
			padding: 0 10rem;
		}
	}
</style>
