---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import LsProjectCard from "@components/common/Ls_Projects/LsProjectCard.astro";
const t = useTranslations(getLangFromUrl(Astro.url));
import Credymas from "@assets/projects/Credymas.png";
---

<section class="mb-10">
	<div class="flex justify-between">
		<h2 class="text-2xl text-white dark:text-black font-pixel-square mb-5">
			<strong class="bg-black text-white dark:bg-white dark:text-black p-1"
				>$</strong
			>
			<span class="bg-black dark:bg-white p-1">{t("LsProjects.title")}</span>
		</h2>
		<p class="text-gray-500 text-sm">{t("LsProjects.total_entries")}: 02</p>
	</div>
	<div class="flex flex-col gap-10">
		<LsProjectCard
			title="credymás"
			imageSrc={Credymas}
			liveLink="https://credymas.es/"
			techStack={["Astro", "Html", "Css", "JavaScript"]}
		/>
	</div>
</section>
