---
import LanguagePicker from "./LanguagePicker.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import { ui, defaultLang } from "@i18n/ui";
const t = useTranslations(getLangFromUrl(Astro.url));
const url = Astro.url.pathname.slice(4);
const lang = getLangFromUrl(Astro.url);

type NavLink = {
	path: string;
	label: keyof (typeof ui)[typeof defaultLang];
	segment: string;
};

const navLinks: NavLink[] = [
	{ path: "", label: "seo.home.title", segment: "" },
	{ path: "projects", label: "seo.projects.title", segment: "projects/" },
	{ path: "about", label: "seo.about.title", segment: "about/" },
];
---

<header>
	<nav class="flex items-center justify-between py-4">
		<div class="flex items-center space-x-4">
			<ul class="hidden md:flex space-x-6">
				{
					navLinks.map((link) => {
						const isActive =
							link.segment === "" ? url === "" : url.startsWith(link.segment);
						return (
							<li
								class={
									"hover:scale-110 transition duration-300" +
									(isActive ? " scale-105" : "")
								}
							>
								<a
									href={`/${lang}/${link.path ? link.path + "/" : ""}`}
									class="text-gray-600 dark:text-gray-400 hover:text-gray-800 dark:hover:text-gray-200"
								>
									{isActive
										? `[ ./${t(link.label).replace(" ", "_")} ]`
										: "./" + t(link.label).replace(" ", "_")}
								</a>
							</li>
						);
					})
				}
			</ul>
		</div>
		<div class="flex items-center space-x-4">
			<LanguagePicker currentLanguage={lang} />
			<ThemeToggle />
		</div>
	</nav>
</header>
