---
interface Props {
	href: string;
	text: string;
	style: "primary" | "secondary";
	cta: boolean;
	outside?: boolean;
	Icon?: any;
}

const { href, text, style, cta, outside, Icon } = Astro.props;
import { getLangFromUrl } from "@i18n/utils";
const lang = getLangFromUrl(Astro.url);
---

<a
	href={outside ? href : `/${lang}${href}`}
	target={outside ? "_blank" : "_self"}
	rel={outside ? "noopener noreferrer" : undefined}
	class={"border-2 border-black  dark:border-white  text-center flex flex-row p-2 w-fit font-mono group hover:scale-95 transition duration-300 " +
		(style === "primary"
			? "bg-black dark:bg-white text-white dark:text-black hover:bg-transparent hover:text-black dark:hover:bg-transparent dark:hover:text-white"
			: "bg-transparent text-black dark:text-white hover:bg-black hover:text-white dark:hover:bg-white dark:hover:text-black")}
>
	{
		Icon && (
			<Icon
				class={`mr-2 w-6 h-6 ${
					style === "primary"
						? "text-white dark:text-black group-hover:text-black dark:group-hover:text-white"
						: "text-black dark:text-white group-hover:text-white dark:group-hover:text-black"
				}`}
			/>
		)
	}
	{text}
	{
		cta && (
			<span class="ml-2 inline-block bg-white dark:bg-black group-hover:bg-black group-hover:dark:bg-white w-1.5 h-5 animate-cursor-blink" />
		)
	}
</a>
