---
interface Props {
	text: string;
}

let { text } = Astro.props;
text = text.replace(" ", "_");
---

<div>
	<p
		class="font-mono text-black dark:text-white border-black dark:border-white border-2 max-w-fit p-1 shadow-[4px_4px_0px_0px_rgba(200,200,200,1)] mb-5"
	>
		sergiobg@dev:~/{text}
	</p>
</div>
